<html dir="rtl">

<h1 mat-dialog-title>הוספת טלפון<strong>{{action}}</strong></h1>

   
     <mat-form-field>
          <mat-label>סוג</mat-label>
          <input matInput [(ngModel)]="local_data.type" placeholder="">               
      </mat-form-field>

      <mat-form-field>
        <mat-label>מס' טלפון</mat-label>
        <input matInput [(ngModel)]="local_data.phoneNumber" placeholder="">               
    </mat-form-field>

<div mat-dialog-actions>
  <button mat-button (click)="save()" mat-flat-button color="primary">Save</button>
  <button mat-button (click)="close()" mat-flat-button color="warn">Cancel</button>
</div>

</html>