<html dir="rtl">

<h1 mat-dialog-title>עדכון כתובת</h1>

<!--<div mat-dialog-content [formGroup]="form">-->
   
     <!--<mat-form-field>
          <mat-label>מזהה לקוח</mat-label>
          <input matInput [(ngModel)]="local_data.customerId" placeholder="">              
      </mat-form-field>-->

    <mat-form-field>
      <mat-label>עיר</mat-label>
      <input matInput [(ngModel)]="local_data.city" placeholder="">              
  </mat-form-field>

  <mat-form-field>
    <mat-label>רחוב</mat-label>
    <input matInput [(ngModel)]="local_data.street" placeholder="">                
</mat-form-field>

<mat-form-field>
  <mat-label>מס' בית</mat-label>
  <input matInput [(ngModel)]="local_data.houseNum" placeholder="">              
</mat-form-field>

<mat-form-field>
  <mat-label>מיקוד</mat-label>
  <input matInput [(ngModel)]="local_data.zipCode" placeholder="">               
  </mat-form-field>
  
<div mat-dialog-actions>
  <button mat-button (click)="save()" mat-flat-button color="primary">שמירה</button>
  <button mat-button (click)="close()" mat-flat-button color="warn">ביטול</button>
</div>



</html>
