<!DOCTYPE html>
<html dir="rtl">
   <header>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   </header>
<body>
  
  

  <mat-toolbar color="warn">
    <span class="fill-remaining-space">
      <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <span (mouseleave)="menuTrigger.closeMenu()">
        <button mat-menu-item routerLink="/customer" routerLinkActive="active">
          <mat-icon>home</mat-icon>
          <span>עמוד הבית</span>
    </button>
    <button mat-menu-item routerLink="/customerDetails" routerLinkActive="active">
        <mat-icon>people_outline</mat-icon>
        <span>פרטי לקוח</span>
    </button>
    <button mat-menu-item routerLink="/customerIdentify" routerLinkActive="active">
      <mat-icon>people_outline</mat-icon>
      <span>זיהוי לקוח</span>
  </button>

    </span>
    </mat-menu>
    </span>
    <span class="fill-remaining-space">Partner</span>
  </mat-toolbar>


  
</body>
</html>
