
<html dir="rtl">
 
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>פרטי לקוח</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <section class="example-section">
      
      <form [formGroup]="form">
        
      <mat-form-field>
        <mat-label>תז</mat-label>
        <input matInput id="customerId" formControlName="customerId" required>                
      </mat-form-field>
     

      <mat-form-field>
        <mat-label>שם פרטי</mat-label>
        <input matInput  id="firstName" formControlName="firstName" required>                
     </mat-form-field>

     <mat-form-field>
      <mat-label>שם משפחה</mat-label>
      <input matInput  id="lastName" formControlName="lastName" required>                
   </mat-form-field>

 
    <!-- כתובת -->
     <div formArrayName="address">
      <div *ngFor="let addrs of form.controls.address.controls; let i=index" class="panel panel-default"><!-- form.get('address').value--> <!--form.controls['address']--> 
        <div class="panel-heading">
          <span></span>
          <span class="glyphicon glyphicon-remove pull-right" *ngIf="form.controls.address.controls.length > 1"></span>
        </div>
        <div class="panel-body" [formGroupName]="i">
          <app-address-details [group]="form.controls.address.controls[i]"></app-address-details>
       </div>
     </div>
   </div>


      

      <!-- מנויים -->
      <app-contracts #appcontracts [param]="parentParam"></app-contracts>


 
     
      <br>
    
      <button mat-button mat-flat-button color="accent" (click)="save()">שמירה</button>
      <button mat-button mat-flat-button color="primary" (click)="changeCustomer()">החלף לקוח</button>

         
      </form>
      </section>
      
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
      </mat-card>
     
    


      <p>
        form :
        {{ form.value | json }}
      </p>


      
      
      
</html>
      
